#need super user access
sudo: required
services:  
  - docker

#before deploy to AWS we setup the prerequite here

before_install: 
  - docker build -t manojm95/react-travis -f Dockerfile.dev .

#coverage exits the npm run test. if not npm run test will wait for user i/p and travis ci will also wait forever and ever
script:
  - docker run manojm95/react-travis npm run test -- --coverage